:root {
  --primary-text-color: #757575;
  --title-text-color: #000000;
  --accent-color: #2196f3;
  --contacts-color: #212121;
  --another-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #ffffff;
  --additional-bg-color: #2f303a;
  --add-bg-color: #2196f3;
  --bg-color: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  letter-spacing: 0.03em;
}

.header-web {
  color: var(--accent-color);
}

.header-studio {
  color: var(--title-text-color);
}

.header-contacts-list,
.header-cont-list {
  list-style: none;
}

.header-webstudio-link {
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header-contacts-one,
.header-contacts-two,
.header-contacts-three {
  text-decoration: none;
  color: var(--contacts-color);
}

.header-contacts-one:hover,
.header-contacts-two:hover,
.header-contacts-three:hover,
.header-contacts-one:focus,
.header-contacts-two:focus,
.header-contacts-three:focus {
  color: var(--accent-color);
}

.active {
  color: none;
  color: var(--accent-color);
}

.header-contacts-one,
.header-contacts-two,
.header-contacts-three {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-link-email,
.header-link-tel {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.title-main {
  background: var(--additional-bg-color);
}

.title {
  color: var(--another-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-service {
  background-color: var(--add-bg-color);
  border: none;
  border-radius: 4px;
  color: var(--another-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

.peculiarities-list {
  list-style: none;
}

.peculiarity-one-title,
.peculiarity-two-title,
.peculiarity-three-title,
.peculiarity-four-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--contacts-color);
}

.peculiarity-one,
.peculiarity-two,
.peculiarity-three,
.peculiarity-four {
  font-size: 14px;
  line-height: 1.71;
}

.we-doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--contacts-color);
}

.we-doing-list {
  list-style: none;
}

.team-main {
  background: var(--bg-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--contacts-color);
}

.team-members-main {
  list-style: none;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--contacts-color);
}

.team-member-prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.footer-address:hover,
.footer-link-email:hover,
.footer-link-tel:hover,
.footer-address:focus,
.footer-link-email:focus,
.footer-link-tel:focus {
  color: var(--accent-color);
}

.footer-contacts {
  background: var(--additional-bg-color);
}

.footer-webstudio-link {
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-web {
  color: var(--accent-color);
}

.footer-studio {
  color: var(--another-color);
}

.footer-address-list {
  list-style: none;
}

.footer-address,
.footer-link-email,
.footer-link-tel {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--another-color);
}

.footer-address {
  color: var(--another-color);
}

.footer-link-email {
  color: var(--footer-link-color);
}

.footer-link-tel {
  color: var(--footer-link-color);
}

.portfolio-button,
.portfolio-proects {
  list-style: none;
}

.button {
  background-color: var(--bg-color);
  color: var(--contacts-color);
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: var(--add-bg-color);
  color: var(--another-color);
}

.btn-active {
  background-color: var(--add-bg-color);
  color: var(--another-color);
}

.filter {
  cursor: pointer;
}

.button-one,
.button-two,
.button-three,
.button-four,
.button-five {
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}

.proect-link {
  text-decoration: none;
}

.proect-name {
  color: var(--contacts-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.proect-class {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
